
        <div class="table-title">
            
                    <div class="col-sm-5">
                        <h2>Account <b>Management</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a href="/account/create" class="btn btn-secondary"><i class="material-icons"></i> <span>Add New Account</span></a>		
                    </div>
            
        </div>
       

        
            
            
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col"><b>#</b></th>
                                <th scope="col"><b>Image</b></th>
                                <th scope="col"><b>Account</b></th>
                                <th scope="col"><b>Role</b></th>
                                <th scope="col"><b>FullName</b></th>
                                <th scope="col"><b>Actions</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each account}}
                            <tr>
                                <th scope="row"> {{@key}}</th>
                                <td><img style= "border-radius: 100%;" width="60px;" height="60px" src="{{this.imglink}}"  /></td>
                                <td>{{this.UserName}}</td>                        
                                <td>{{this.Role}}</td>
                                <td>{{this.FullName}}</td>
                                <td>

                                    <a class="btn btn-primary" href="/account/edit/{{_id}}" role="button">Update</a>
                                    
                                    <form  action="/account/{{this._id}}?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="submit" class="btn btn-danger" role="button" value="Delete">
                                    </form>
                                    


                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
            
        
